body{
    font-family: 'Noticia Text', Serif;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #061735;
}
#centerContainer{
    text-align: center;
    margin: auto;
    width: 500px;
}
.container-fluid{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 992px){
    #Headline{
        margin-top: 12rem;
    }
}
@media screen and (max-width: 992px){
    #Headline{
        margin-top: 15rem;
    }
}
header {
    margin-top: 2rem;
}
h1{
    font-weight: bold;
}
h2 {
    color: white;
}
p{
    text-align: center;
    color: white;
}
.input-group.mb-3{
    margin-top: 2rem;
    box-shadow: 2px 2px 2px 0 #929292;
    border-radius: 5px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: royalblue;
    color: white;
}

/* Split the screen in half */
@media screen and (min-width: 992px) {
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }
}

/* Control the left side */
@media screen and (min-width: 992px) {
    .left {
        left: 0;
        #background-color: #3c4bac;
        background-color: #061735;
        color: #a33131;
    }
}
/* Control the right side */
@media screen and (min-width: 992px) {
    .right {
        right: 0;
        #background-color: rgba(34, 96, 165, 0.64);
        background-color: #a33131;
    }
}





#Fix responsiveness
#Add a Tweet about this button
#Add a privacy and sponsor
#Offer differing subscription options ie subscribe through github
#Add a crypto ticker
#Add socials to landing page
#Add the word curate somewhere