body{
    font-family: 'Noticia Text', Serif;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0e2a5a;
}
#centerContainer{
    text-align: center;
    margin: auto;
    width: 500px;
}
.container-fluid{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
header {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#Heading h1{
    color:#a33131;
    font-weight: bold!important;
    font-size: 2.7rem;
    text-shadow:
            0 1px 1px rgba(0,0,0,0.25),
            2px 2px rgba(0,0,0,0.20),
            0 4px 4px rgba(0,0,0,0.15),
            0 8px 8px rgba(0,0,0,0.10),
            0 16px 16px rgba(0,0,0,0.05);
}
#Subheading p{
    font-weight: bold;
    font-size: 1rem;
    text-shadow:
            0 1px 1px rgba(0,0,0,0.25),
            2px 2px rgba(0,0,0,0.20),
            0 4px 4px rgba(0,0,0,0.15),
            0 8px 8px rgba(0,0,0,0.10),
            0 16px 16px rgba(0,0,0,0.05);
}
p{
    font-size: 0.7rem;
    text-shadow:
            0 1px 1px rgba(0,0,0,0.25),
            2px 2px rgba(0,0,0,0.20),
            0 4px 4px rgba(0,0,0,0.15),
            0 8px 8px rgba(0,0,0,0.10),
            0 16px 16px rgba(0,0,0,0.05);
}
@media screen and (min-width: 992px){
    #Headline h2{
        margin-top: 12rem;
        font-size: 1.6rem;
        text-shadow:
                0 1px 1px rgba(0,0,0,0.25),
                2px 2px rgba(0,0,0,0.20),
                0 4px 4px rgba(0,0,0,0.15),
                0 8px 8px rgba(0,0,0,0.10),
                0 16px 16px rgba(0,0,0,0.05);
    }
}
@media screen and (max-width: 992px){
    #Headline h2{
        margin-top: 12rem;
        font-size: 1.6rem;
    }
}
.input-group.mb-3{
    margin-top: 2rem;
    box-shadow:
            0 1px 1px rgba(0,0,0,0.25),
            0 2px 2px rgba(0,0,0,0.20),
            0 4px 4px rgba(0,0,0,0.15),
            0 8px 8px rgba(0,0,0,0.10),
            0 16px 16px rgba(0,0,0,0.05);
    border-radius: 5px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #13366f;
    color: white;
}

/* Split the screen in half */
@media screen and (min-width: 992px) {
    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }
}

/* Control the left side */
@media screen and (min-width: 992px) {
    .left {
        left: 0;
        #background-color: #3c4bac;
        background-color: #0e2a5a;
    }
}
/* Control the right side */
@media screen and (min-width: 992px) {
    .right {
        right: 0;
        #background-color: rgba(34, 96, 165, 0.64);
        background-color: #a33131;
    }
}
.btn-outline-secondary {
    border-color: #0e2a5a;
}



#Fix responsivenessDONE
#Add a Tweet about this button
#Add a privacy and sponsor#WHEN MORE FOLLOWERS
#Offer differing subscription options ie subscribe through github
#Add a crypto ticker
#Add socials to landing page
#Add the word curate somewhereDONE