html, body{
    height: 100vh;
    overflow-y: hidden;
}
section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(6deg, #949494, hsla(0, 0.00%, 100.00%, 1.00) 29%, hsla(0, 0.00%, 100.00%, 1.00) 62%);
    justify-content: start;
}
.navbar{
    display: flex;
    flex-wrap: nowrap!important;
    position: absolute!important;
    left: 0%;
    top: 0%;
    bottom: auto;
    margin-top: 12px;
    background-color: transparent;
    width: 100vw;
}
.navbar > .container, .navbar
> .container-fluid, .navbar
> .container-lg, .navbar
> .container-md, .navbar
> .container-sm, .navbar
> .container-xl, .navbar
> .container-xxl{
    justify-content: center!important;
}
@media (max-width: 767px) {
    .navbar{
        position: absolute;
        margin: 0;
    }
}
@media (max-width: 374px) {
    .d-inline-block {
        position: relative;
        width: 65vw;
    }
}
@media (min-width: 375px) and (max-width: 992px){
    .d-inline-block {
        position: relative;
        margin-top: -1vh;
    }
}
@media (min-width: 1920px){
    .d-inline-block {
        position: relative;
        margin-top: 0vh;
        left: -5vw;
    }
}
@media (min-width: 2048px){
    .d-inline-block {
        position: relative;
        margin-top: 0vh;
        left: -10vw;
    }
}
.active a{
    font-family: Merriweather;
    text-decoration: none;
    padding-right: 0.5rem;
    color: black;
}
.nav-link {
    display: inline-block;
    font-family: Merriweather;
    color: black!important;
}
#navMenu{
    position: relative;
}
nav .navbar-nav{
    display: inline-flex;
    align-items:center;
    position: relative;
    left: 30vw;
    bottom: -1vh;
}
.navbar-light .navbar-toggler {
    color: black!important;
    border: none!important;
    position:relative;
    border-radius: 0px;
    font-size: 1rem;
    right: 1vw;
}
@media (min-width: 375px){
    .navbar-light .navbar-toggler {
        position:relative;
    }
}
@media (min-width: 1200px){
    nav .navbar-nav{
        left: 40vw;
    }
}
@media (max-width: 991px) {
    nav .navbar-nav{
        display: none!important;
    }
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0!important;
}
.fa-bars{
    position: relative;
}
@media (min-width: 768px){
    .fa-bars{
        left: 15vw;
    }
}
.offcanvas-start{
    width: 200px!important;
}
#offcanvasActive{
    padding: .5rem 1rem;
}
li{
    list-style-type: none;
}
@media (min-width: 375px){
    #navMenu{
        display: inline-block;
    }
}
.row{
    align-content: stretch;
    justify-content: center;
    display: flex;
    flex-wrap: inherit!important;
    --bs-gutter-x: 0!important;
}
@media (max-width: 991px){
    #container-1{
        padding: 0;
        max-width: 100vw;
    }
}
#writing{
    position: static;
    display: block;
    margin-top: 0;
    flex-basis: 0;
}
#writing h1 {
    font-family: Merriweather;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    margin: 20px -15rem 10px;
}
#writing p {
    font-family: Merriweather;
    font-size: 1.3rem;
    line-height: 28px;
    text-align: center;
    margin-left: -3rem;
    margin-right: -3rem;
}
@media (max-width:991.98px){
    #writing h1{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 1.4rem;
    }
    #writing p{
        margin-right: 0;
        margin-left: 0;
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin-bottom: 10vh;
    }
}
#mobile-device{
    height: 60vh;
}
@media (max-width: 991.98px){
    #mobile-device{
        display: none;
    }
}
#imagePhone{
    flex: 0 0 0%;
}
#revue-embed{
    margin-top: 2vh;
}
form{
    display: flex;
    font-family: Merriweather;
}
@media (max-width: 991.99px) {
    form{
        justify-content: center;
        display: inline-block;
    }
}
@media (max-width: 991.99px){
    .revue-form-group{
        font-size: 0.9rem;
    }
}
.revue-form-field{
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    display: block;
    height: 4vh;
    min-width: 17vw;
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: none;
    border-width: 1px;
    border-color: black;
    font-size: 1.4rem;
}
@media (max-width: 991.99px){
    .revue-form-field{
        min-height: 10vh;
        -webkit-appearance: none!important;
        -moz-appearance: none!important;
        width: 90vw;
        border-top-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        border-bottom-style: none;
        border-radius: 9px 9px 0px 0px;
        text-align: center;
    }
}
[type=button], [type=reset], [type=submit], button{
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    height: 4vh;
    min-width: 6vw;
    text-align: center;
    cursor: default;
    color: white;
    background-color: #325fc4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 1px;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: black;
 
}
@media (max-width: 991.99px){
    [type=button], [type=reset], [type=submit], button {
        -webkit-appearance: none!important;
        -moz-appearance: none!important;
        min-height: 10vh;
        font-size: 1.4rem;
        width: 90vw;
        border-top-right-radius: 0;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
        border-width: 1px;
        border-top-style: none;
        border-bottom-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        border-color: black;
    }
}
.social-icons{
    display: flex;
    justify-content: center;
    position:relative;
    top: 5vh;
}
.fa-twitter {
    background: #55acee;
    color: #fff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
}
.fa-twitter:hover {
    opacity: 0.7;
}

