body{
    font-family: Merriweather;
}

#PrivacyPolicy{
    max-width: 50vw;
    margin-top: 3vw;
}
.navbar{
    display: flex;
    flex-wrap: nowrap!important;
    position: absolute!important;
    left: 0%;
    top: 0%;
    bottom: auto;
    margin-top: 12px;
    background-color: transparent;
    width: 100vw;
}
.navbar > .container, .navbar
> .container-fluid, .navbar
> .container-lg, .navbar
> .container-md, .navbar
> .container-sm, .navbar
> .container-xl, .navbar
> .container-xxl{
    justify-content: center!important;
}
@media (max-width: 767px) {
    .navbar{
        position: absolute;
        margin: 0;
    }
}
@media (max-width: 374px) {
    .d-inline-block {
        position: relative;
        width: 65vw;
    }
}
@media (min-width: 375px) and (max-width: 992px){
    .d-inline-block {
        position: relative;
        #width: 70vw;
        margin-top: -1vh;
    }
}
@media (min-width: 1920px){
    .d-inline-block {
        position: relative;
        margin-top: 0vh;
        left: -5vw;
    }
}
@media (min-width: 2048px){
    .d-inline-block {
        position: relative;
        margin-top: 0vh;
        left: -10vw;
    }
}
.active a{
    font-family: Merriweather;
    text-decoration: none;
    padding-right: 0.5rem;
    color: black;
}
.nav-link {
    display: inline-block;
    font-family: Merriweather;
    color: black!important;
}
#navMenu{
    position: relative;
}
nav .navbar-nav{
    display: inline-flex;
    align-items:center;
    position: relative;
    left: 30vw;
    bottom: -1vh;
}
.navbar-light .navbar-toggler {
    color: black!important;
    border: none!important;
    position:relative;
    border-radius: 0px;
    font-size: 1rem;
    right: 1vw;
}
@media (min-width: 375px){
    .navbar-light .navbar-toggler {
        position:relative;
        left: 5vw;
    }
}
@media (min-width: 1200px){
    nav .navbar-nav{
        left: 65vw;
    }
}
@media (min-width: 1440px){
      nav .navbar-nav{
        left: 55vw;
    }
}
@media (max-width: 991px) {
    nav .navbar-nav{
        display: none!important;
    }
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0!important;
}
.fa-bars{
    position: relative;
}
.offcanvas-start{
    width: 200px!important;
}
#offcanvasActive{
    padding: .5rem 1rem;
}
li{
    list-style-type: none;
}
@media (min-width: 375px){
    #navMenu{
        display: inline-block;
    }
}